*
!bin
!ext
!lib
!rakelib
!resource
!ruby
!test
!vendor
!Gemfile
!Gemfile.lock
!Rakefile
!patch_ruby_source.sh
!download_vendors.sh
!download-ruby-source.sh
!ruby-enclose
!ruby-enclose-3.2.2-patch
!vendor-enclose